@import './mixin.less';

.@{prefix}-fab {
    position: fixed;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    z-index: var(--bu-fab-zIndex);
    height: fit-content;
    width: fit-content;
}
